.container {
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.card {
    width: 100%;
    border-radius: 10px;
    background: var(--dark-gray);
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card h2 {
    color: var(--light-gray);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0 0 4px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.form .button {
    width: 200px;
}
